<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
</script>

<script>
    $(document).ready(function () {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var response = JSON.parse(this.responseText);
                var table = document.getElementById("resultsTable");
                $.each(response, function (i, val) {
                    var row = table.insertRow(1);
                    row.insertCell(0).innerHTML = val.currentTimeQueryId;
                    row.insertCell(1).innerHTML = val.time;
                    row.insertCell(2).innerHTML = val.clientIp;
                    row.insertCell(3).innerHTML = val.utcTime;
                });
            };
        };
        xhttp.open("GET", "http://127.0.0.1:50725/api/alltimes", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
    });

    function UserAction() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var result = JSON.parse(this.responseText);
                var table = document.getElementById("resultsTable");
                var row = table.insertRow(1);
                row.insertCell(0).innerHTML = result.currentTimeQueryId;
                row.insertCell(1).innerHTML = result.time;
                row.insertCell(2).innerHTML = result.clientIp;
                row.insertCell(3).innerHTML = result.utcTime;
            };
        }
        xhttp.open("GET", "http://127.0.0.1:50725/api/currenttime", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
    }
</script>

<div class="container">
    <div class="jumbotron">
        <h2>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>
        <hr size="2" color="red"/>
        <br />
        <button class ="btn btn-primary" type="submit" onclick="UserAction()">Get the time >></button>
    </div>
    <br />
    <table class="table" id="resultsTable">
        <tr>
            <th>Record ID</th>
            <th>Server Time</th>
            <th>Client IP</th>
            <th>UTC Time</th>
        </tr>
        @*dynamically add all the records here as <tr></tr> with the <td> inside*@
    </table>
</div>
